[submodule "bibo"]
	path = bibo
	url = git@git.vauxoo.com:vauxoo/bibo.git
	branch = 15.0-fix_mrp_payroll_tickets-agarzaarvizu
[submodule "credit-management"]
	path = credit-management
	url = git@git.vauxoo.com:vauxoo/credit-management.git
	branch = 15.0
