[submodule "bibo"]
	path = bibo
	url = git@git.vauxoo.com:vauxoo/bibo.git
	branch = 15.0
[submodule "credit-management"]
	path = credit-management
	url = git@git.vauxoo.com:vauxoo/credit-management.git
	branch = 15.0
[submodule "sh-tools"]
	path = sh-tools
	url = git@git.vauxoo.com:vauxoo/sh-tools.git
	branch = 15.0
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = git@github.com:Vauxoo/account-financial-tools.git
	branch = 15.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 15.0
