[submodule "bibo"]
	path = bibo
	url = git@git.vauxoo.com:vauxoo/bibo.git
	branch = 12.0
[submodule "credit-management"]
	path = credit-management
    url = git@git.vauxoo.com:vauxoo/credit-management.git
    branch = 15.0
